/* line 17, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* support */
/* line 17, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 81, ../scss/styles.scss */
.plainBG {
  background: url(../images/texturebg.png);
}

/* line 85, ../scss/styles.scss */
.paddIt {
  padding: 20px;
}

/* line 89, ../scss/styles.scss */
.sizeIt {
  height: 300px;
  width: 300px;
}

/* line 93, ../scss/styles.scss */
.addLeftSpace {
  margin-left: 15px;
}

/* line 97, ../scss/styles.scss */
.addTopSpace {
  margin-top: 15px;
}

/* line 101, ../scss/styles.scss */
.spacer {
  height: 60px;
  width: 300px;
}

/* line 103, ../scss/styles.scss */
.clearBoth {
  clear: both;
  overflow: hidden;
  *zoom: 1;
}

/* line 117, ../scss/styles.scss */
.headerBG {
  width: 100%;
  background: url(../images/texturebg.png);
}
@media only screen and (min-width: 1024px) {
  /* line 117, ../scss/styles.scss */
  .headerBG {
    height: 162px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 117, ../scss/styles.scss */
  .headerBG {
    height: 142px;
  }
}
@media only screen and (max-width: 420px) {
  /* line 117, ../scss/styles.scss */
  .headerBG {
    height: 67px;
  }
}

/* line 126, ../scss/styles.scss */
.dashedBorder {
  padding: 4px;
  border: dashed 1px rgba(102, 102, 102, 0.3);
}

/* line 132, ../scss/styles.scss */
.utilityNavText {
  font-family: "Periodico Display", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #4d3800;
  border-right: dashed 1px rgba(102, 102, 102, 0.3);
}
/* line 138, ../scss/styles.scss */
.utilityNavText a {
  color: #4d3800;
  text-decoration: none;
}

/* line 146, ../scss/styles.scss */
input {
  width: 218px;
  height: 28px;
  border: 1px solid #e6e3dc;
  background-color: rgba(230, 227, 220, 0.47);
  padding-left: 10px;
  padding-right: 10px;
  background: url(../images/searchIcon.png) no-repeat right center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(230, 227, 220, 0.47)), color-stop(100%, rgba(230, 227, 220, 0.47)));
  background: url(../images/searchIcon.png) no-repeat right center, -webkit-linear-gradient(top, rgba(230, 227, 220, 0.47), rgba(230, 227, 220, 0.47));
  background: url(../images/searchIcon.png) no-repeat right center, -moz-linear-gradient(top, rgba(230, 227, 220, 0.47), rgba(230, 227, 220, 0.47));
  background: url(../images/searchIcon.png) no-repeat right center, linear-gradient(top, rgba(230, 227, 220, 0.47), rgba(230, 227, 220, 0.47));
  -webkit-background-origin: content-box;
  background-origin: content-box;
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  color: rgba(77, 56, 0, 0.4);
  font-size: 14px;
}

/* line 162, ../scss/styles.scss */
.tanOverlay {
  width: 100%;
  background-color: rgba(219, 215, 209, 0.4);
  overflow: visible;
  background-clip: border-box;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(219, 215, 209, 0.4)), color-stop(100%, rgba(219, 215, 209, 0.4))), url(../images/texturebg.png);
  background: -webkit-linear-gradient(top, rgba(219, 215, 209, 0.4), rgba(219, 215, 209, 0.4)), url(../images/texturebg.png);
  background: -moz-linear-gradient(top, rgba(219, 215, 209, 0.4), rgba(219, 215, 209, 0.4)), url(../images/texturebg.png);
  background: linear-gradient(top, rgba(219, 215, 209, 0.4), rgba(219, 215, 209, 0.4)), url(../images/texturebg.png);
}
@media only screen and (min-width: 1024px) {
  /* line 162, ../scss/styles.scss */
  .tanOverlay {
    height: 58px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 162, ../scss/styles.scss */
  .tanOverlay {
    height: 40px;
  }
}

/* line 177, ../scss/styles.scss */
.brownBar {
  width: 100%;
  background-color: #4d3800;
}
@media only screen and (min-width: 1024px) {
  /* line 177, ../scss/styles.scss */
  .brownBar {
    height: 36px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 177, ../scss/styles.scss */
  .brownBar {
    height: 36px;
  }
}
@media only screen and (max-width: 420px) {
  /* line 177, ../scss/styles.scss */
  .brownBar {
    display: none;
  }
}

/* line 186, ../scss/styles.scss */
.brownBarArtist {
  font-family: "Periodico Display", Helvetica, Arial, sans-serif;
  color: white;
}
@media only screen and (min-width: 1024px) {
  /* line 186, ../scss/styles.scss */
  .brownBarArtist {
    line-height: 36px;
    font-size: 13px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 186, ../scss/styles.scss */
  .brownBarArtist {
    line-height: 36px;
    font-size: 11px;
    margin-left: 15px;
  }
}

/* line 195, ../scss/styles.scss */
.brownBarSong {
  font-family: "Periodico Display", Helvetica, Arial, sans-serif;
  color: #f79101;
  font-size: 11px;
  margin-left: 5px;
}
@media only screen and (min-width: 1024px) {
  /* line 195, ../scss/styles.scss */
  .brownBarSong {
    line-height: 36px;
    font-size: 13px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 195, ../scss/styles.scss */
  .brownBarSong {
    line-height: 36px;
    font-size: 11px;
  }
}

/* line 206, ../scss/styles.scss */
.brownBarSponsor {
  font-family: "Periodico Display", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 11px;
  text-align: right;
  float: right;
}
@media only screen and (min-width: 1024px) {
  /* line 206, ../scss/styles.scss */
  .brownBarSponsor {
    line-height: 36px;
    font-size: 13px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 206, ../scss/styles.scss */
  .brownBarSponsor {
    line-height: 36px;
    font-size: 11px;
    margin-right: 15px;
  }
}

/* line 218, ../scss/styles.scss */
.mainNav {
  color: rgba(77, 56, 0, 0.9);
  font-family: "Periodico Display", Helvetica, Arial, sans-serif;
  display: inline;
  padding: 6px 12px;
  overflow: visible;
}
/* line 224, ../scss/styles.scss */
.mainNav a {
  color: rgba(77, 56, 0, 0.9);
  text-decoration: none;
  height: 58px;
}
@media only screen and (min-width: 1024px) {
  /* line 218, ../scss/styles.scss */
  .mainNav {
    font-size: 17px;
    border-right: 1px dashed rgba(75, 57, 0, 0.2);
    line-height: 58px;
    height: 150px;
  }
  /* line 231, ../scss/styles.scss */
  .mainNav:last-child {
    border-right: none;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 218, ../scss/styles.scss */
  .mainNav {
    line-height: 40px;
    font-size: 14px;
    border-right: 1px dashed rgba(75, 57, 0, 0.2);
    line-height: 40px;
    height: 40px;
  }
  /* line 236, ../scss/styles.scss */
  .mainNav:last-child {
    border-right: none;
  }
}
@media only screen and (max-width: 420px) {
  /* line 218, ../scss/styles.scss */
  .mainNav {
    font-size: 17px;
    display: none;
  }
}

/* line 242, ../scss/styles.scss */
.mainNavSelected {
  background-color: white;
  overflow: visible;
  background-origin: border-box;
  padding: 12px 15px 20px 15px;
  margin: 0 -12px 0 -16px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80808080', endColorstr='#80808080');
}
@media only screen and (min-width: 1024px) {
  /* line 242, ../scss/styles.scss */
  .mainNavSelected {
    background: url(../images/selectedNavArrow.png) no-repeat center 56px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.94)), color-stop(10%, rgba(255, 255, 255, 0.99)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(83%, #ffffff), color-stop(83%, rgba(255, 255, 255, 0)));
    background: url(../images/selectedNavArrow.png) no-repeat center 56px, -webkit-linear-gradient(top, rgba(255, 255, 255, 0.94) 0%, rgba(255, 255, 255, 0.99) 10%, rgba(255, 255, 255, 0) 50%, #ffffff 83%, rgba(255, 255, 255, 0) 83%);
    background: url(../images/selectedNavArrow.png) no-repeat center 56px, -moz-linear-gradient(top, rgba(255, 255, 255, 0.94) 0%, rgba(255, 255, 255, 0.99) 10%, rgba(255, 255, 255, 0) 50%, #ffffff 83%, rgba(255, 255, 255, 0) 83%);
    background: url(../images/selectedNavArrow.png) no-repeat center 56px, linear-gradient(top, rgba(255, 255, 255, 0.94) 0%, rgba(255, 255, 255, 0.99) 10%, rgba(255, 255, 255, 0) 50%, #ffffff 83%, rgba(255, 255, 255, 0) 83%);
    padding: 18px 15px 32px 15px;
    margin: 0 -12px 0 -16px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 242, ../scss/styles.scss */
  .mainNavSelected {
    background: url(../images/selectedNavArrow.png) no-repeat center 39px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.94)), color-stop(10%, rgba(255, 255, 255, 0.99)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(83%, #ffffff), color-stop(83%, rgba(255, 255, 255, 0)));
    background: url(../images/selectedNavArrow.png) no-repeat center 39px, -webkit-linear-gradient(top, rgba(255, 255, 255, 0.94) 0%, rgba(255, 255, 255, 0.99) 10%, rgba(255, 255, 255, 0) 50%, #ffffff 83%, rgba(255, 255, 255, 0) 83%);
    background: url(../images/selectedNavArrow.png) no-repeat center 39px, -moz-linear-gradient(top, rgba(255, 255, 255, 0.94) 0%, rgba(255, 255, 255, 0.99) 10%, rgba(255, 255, 255, 0) 50%, #ffffff 83%, rgba(255, 255, 255, 0) 83%);
    background: url(../images/selectedNavArrow.png) no-repeat center 39px, linear-gradient(top, rgba(255, 255, 255, 0.94) 0%, rgba(255, 255, 255, 0.99) 10%, rgba(255, 255, 255, 0) 50%, #ffffff 83%, rgba(255, 255, 255, 0) 83%);
    padding: 12px 15px 20px 15px;
    margin: 0 -12px 0 -16px;
  }
}

/* line 255, ../scss/styles.scss */
.subNavBG {
  width: 100%;
  background-color: rgba(219, 215, 209, 0.4);
  padding: 15px;
  background: url(../images/navDropdownTopGradient.png) repeat-x top, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(219, 215, 209, 0.4)), color-stop(100%, rgba(219, 215, 209, 0.4))), url(../images/texturebg.png);
  background: url(../images/navDropdownTopGradient.png) repeat-x top, -webkit-linear-gradient(top, rgba(219, 215, 209, 0.4), rgba(219, 215, 209, 0.4)), url(../images/texturebg.png);
  background: url(../images/navDropdownTopGradient.png) repeat-x top, -moz-linear-gradient(top, rgba(219, 215, 209, 0.4), rgba(219, 215, 209, 0.4)), url(../images/texturebg.png);
  background: url(../images/navDropdownTopGradient.png) repeat-x top, linear-gradient(top, rgba(219, 215, 209, 0.4), rgba(219, 215, 209, 0.4)), url(../images/texturebg.png);
}

/* line 266, ../scss/styles.scss */
.subNavText {
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
}
/* line 60, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.subNavText li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.subNavText li:first-child, .subNavText li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.subNavText li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.subNavText li.last {
  padding-right: 0;
}
/* line 273, ../scss/styles.scss */
.subNavText a {
  color: #333333;
  text-decoration: none;
}

/* line 280, ../scss/styles.scss */
.subNavTextWrapper {
  border-right: 1px dashed rgba(75, 57, 0, 0.2);
  border-left: 1px dashed rgba(75, 57, 0, 0.2);
  width: 370px;
}

/* line 299, ../scss/styles.scss */
.subNavDropDownSectionTitle {
  color: #1a6c99;
  font-size: 13px;
}
/* line 302, ../scss/styles.scss */
.subNavDropDownSectionTitle a {
  color: #1a6c99;
  text-decoration: none;
}
@media only screen and (max-width: 420px) {
  /* line 299, ../scss/styles.scss */
  .subNavDropDownSectionTitle {
    display: none;
  }
}

/* line 309, ../scss/styles.scss */
.subNavDropDownSectionAuthor {
  color: #4f3700;
  font-size: 13px;
}
/* line 312, ../scss/styles.scss */
.subNavDropDownSectionAuthor a {
  color: #4f3700;
  text-decoration: none;
}
@media only screen and (max-width: 420px) {
  /* line 309, ../scss/styles.scss */
  .subNavDropDownSectionAuthor {
    display: none;
  }
}

/* line 319, ../scss/styles.scss */
.storyTitleText {
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333333;
  font-size: 18px;
  line-height: 18px;
}
/* line 325, ../scss/styles.scss */
.storyTitleText a {
  color: #333333;
  text-decoration: none;
}
@media only screen and (max-width: 420px) {
  /* line 319, ../scss/styles.scss */
  .storyTitleText {
    font-size: 24px;
    line-height: 24px;
  }
}

/* line 332, ../scss/styles.scss */
.storySummaryText {
  color: #333333;
  font-size: 14px;
  line-height: 16px;
  font-family: "Periodico Text", Helvetica, Arial, sans-serif;
}
/* line 334, ../scss/styles.scss */
.storySummaryText a {
  color: #1a6c99;
  text-decoration: none;
}
@media only screen and (min-width: 1024px) {
  /* line 332, ../scss/styles.scss */
  .storySummaryText {
    width: 258px;
  }
}
@media only screen and (max-width: 420px) {
  /* line 332, ../scss/styles.scss */
  .storySummaryText {
    width: 100%;
  }
}

/* line 352, ../scss/styles.scss */
.footerStreamingText {
  font-size: 13px;
  line-height: 24px;
  color: #1a6c99;
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}
/* line 356, ../scss/styles.scss */
.footerStreamingText a {
  color: #1a6c99;
  text-decoration: none;
}
@media only screen and (min-width: 1024px) {
  /* line 352, ../scss/styles.scss */
  .footerStreamingText {
    width: 100%;
  }
}

/* line 366, ../scss/styles.scss */
.footerSlogan {
  color: #4f3700;
  font-weight: bold;
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-size: 23px;
  line-height: 24px;
  text-align: center;
}
/* line 368, ../scss/styles.scss */
.footerSlogan a {
  color: #4f3700;
  text-decoration: none;
}

/* line 380, ../scss/styles.scss */
.footerUtilityNav {
  font-family: "Periodico Display", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  font-style: italic;
  color: #4f3700;
  font-size: 14px;
  line-height: 16px;
}
/* line 60, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.footerUtilityNav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.footerUtilityNav li:first-child, .footerUtilityNav li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.footerUtilityNav li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.footerUtilityNav li.last {
  padding-right: 0;
}
/* line 387, ../scss/styles.scss */
.footerUtilityNav li {
  padding: 10px 18px;
  border-right: dashed 1px rgba(102, 102, 102, 0.3);
}
/* line 390, ../scss/styles.scss */
.footerUtilityNav li:last-child {
  border-right: none;
}
/* line 391, ../scss/styles.scss */
.footerUtilityNav li a {
  color: #4f3700;
  text-decoration: none;
}
/* line 392, ../scss/styles.scss */
.footerUtilityNav li.footerUtilityDonate {
  color: red;
  background: url(../images/donate-heart.png) no-repeat 17px 11px;
  padding-left: 36px;
}

/* line 400, ../scss/styles.scss */
.footerUtilityWrapper {
  background: url(../images/texturebg.png);
  padding: 15px;
}

@media only screen and (min-width: 1024px) {
  /* line 418, ../scss/styles.scss */
  .deskTopFooter {
    display: block;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 418, ../scss/styles.scss */
  .deskTopFooter {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  /* line 418, ../scss/styles.scss */
  .deskTopFooter {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 425, ../scss/styles.scss */
  .tabletFooter {
    display: none;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 425, ../scss/styles.scss */
  .tabletFooter {
    display: block;
  }
}
@media only screen and (max-width: 420px) {
  /* line 425, ../scss/styles.scss */
  .tabletFooter {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 432, ../scss/styles.scss */
  .mobileFooter {
    display: none;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 432, ../scss/styles.scss */
  .mobileFooter {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  /* line 432, ../scss/styles.scss */
  .mobileFooter {
    display: block;
  }
}

/* line 439, ../scss/styles.scss */
.footerNavWrapper {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(219, 215, 209, 0.4)), color-stop(100%, rgba(219, 215, 209, 0.4))), url(../images/texturebg.png);
  background: -webkit-linear-gradient(top, rgba(219, 215, 209, 0.4), rgba(219, 215, 209, 0.4)), url(../images/texturebg.png);
  background: -moz-linear-gradient(top, rgba(219, 215, 209, 0.4), rgba(219, 215, 209, 0.4)), url(../images/texturebg.png);
  background: linear-gradient(top, rgba(219, 215, 209, 0.4), rgba(219, 215, 209, 0.4)), url(../images/texturebg.png);
  padding: 30px 15px;
  overflow: hidden;
  *zoom: 1;
}
@media only screen and (max-width: 420px) {
  /* line 439, ../scss/styles.scss */
  .footerNavWrapper {
    border-bottom: dashed 1px rgba(102, 102, 102, 0.3);
    padding: 0;
  }
}
/* line 449, ../scss/styles.scss */
.footerNavWrapper h3 {
  color: #4f3700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Periodico Display", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: medium;
  padding-bottom: 4px;
}
/* line 452, ../scss/styles.scss */
.footerNavWrapper h3 a {
  color: #4f3700;
  text-decoration: none;
}
@media only screen and (min-width: 1024px) {
  /* line 449, ../scss/styles.scss */
  .footerNavWrapper h3 {
    font-size: 17px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 449, ../scss/styles.scss */
  .footerNavWrapper h3 {
    font-size: 14px;
    line-height: 17px;
  }
}
@media only screen and (max-width: 420px) {
  /* line 449, ../scss/styles.scss */
  .footerNavWrapper h3 {
    font-size: 14px;
    line-height: 35px;
    padding-top: 5px;
    padding-left: 15px;
    background: url(../images/texturebg.png);
    background-origin: content-box;
  }
}
@media only screen and (max-width: 420px) {
  /* line 463, ../scss/styles.scss */
  .footerNavWrapper li {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 35px;
    color: #4f3700;
    border-bottom: dashed 1px rgba(102, 102, 102, 0.3);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(219, 215, 209, 0.4)), color-stop(100%, rgba(219, 215, 209, 0.4))), url(../images/texturebg.png);
    background: -webkit-linear-gradient(top, rgba(219, 215, 209, 0.4), rgba(219, 215, 209, 0.4)), url(../images/texturebg.png);
    background: -moz-linear-gradient(top, rgba(219, 215, 209, 0.4), rgba(219, 215, 209, 0.4)), url(../images/texturebg.png);
    background: linear-gradient(top, rgba(219, 215, 209, 0.4), rgba(219, 215, 209, 0.4)), url(../images/texturebg.png);
    padding-left: 15px;
  }
}

/* line 480, ../scss/styles.scss */
.width6Wide {
  width: 16%;
  float: left;
}

/* line 481, ../scss/styles.scss */
.width5Wide {
  width: 20%;
  float: left;
}

/* line 482, ../scss/styles.scss */
.width4Wide {
  width: 25%;
  float: left;
}

/* line 483, ../scss/styles.scss */
.width3Wide {
  width: 32%;
  float: left;
}

/* line 484, ../scss/styles.scss */
.width2Wide {
  width: 50%;
  float: left;
}

/* line 485, ../scss/styles.scss */
.width1Wide {
  width: 100%;
  float: left;
}

@media only screen and (min-width: 1024px) {
  /* line 491, ../scss/styles.scss */
  .col1Wide {
    float: left;
    width: 20%;
  }

  /* line 492, ../scss/styles.scss */
  .col2Wide {
    float: left;
    width: 40%;
  }

  /* line 493, ../scss/styles.scss */
  .col3Wide {
    float: left;
    width: 60%;
  }

  /* line 494, ../scss/styles.scss */
  .col4Wide {
    float: left;
    width: 80%;
  }

  /* line 495, ../scss/styles.scss */
  .col5Wide {
    float: left;
    width: 100%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 499, ../scss/styles.scss */
  .col1Wide {
    float: left;
    width: 32%;
  }

  /* line 500, ../scss/styles.scss */
  .col2Wide {
    float: left;
    width: 64%;
  }

  /* line 501, ../scss/styles.scss */
  .col3Wide {
    float: left;
    width: 96%;
  }

  /* line 502, ../scss/styles.scss */
  .col4Wide {
    float: left;
    width: 128%;
  }

  /* line 503, ../scss/styles.scss */
  .col5Wide {
    float: left;
    width: 160%;
  }
}
/* line 507, ../scss/styles.scss */
.footerNavListWrapper {
  border-top: dashed 1px rgba(102, 102, 102, 0.3);
  margin-right: 20px;
  margin-bottom: 25px;
  overflow: hidden;
  *zoom: 1;
}

/* line 523, ../scss/styles.scss */
.footerNavListText {
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  padding-top: 8px;
  color: #4d3800;
}
/* line 531, ../scss/styles.scss */
.footerNavListText a {
  color: #4d3800;
  text-decoration: none;
}
/* line 532, ../scss/styles.scss */
.footerNavListText li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 3px;
}
/* line 533, ../scss/styles.scss */
.footerNavListText ul {
  float: left;
  display: block;
}

/* line 542, ../scss/styles.scss */
.footerLeftSide {
  float: left;
  margin-top: 30px;
}
@media only screen and (min-width: 1024px) {
  /* line 542, ../scss/styles.scss */
  .footerLeftSide {
    width: 80%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 542, ../scss/styles.scss */
  .footerLeftSide {
    width: 75%;
  }
}

/* line 554, ../scss/styles.scss */
.footerRightSide {
  width: 16%;
  float: left;
  margin-top: 30px;
}
@media only screen and (min-width: 1024px) {
  /* line 554, ../scss/styles.scss */
  .footerRightSide {
    width: 16%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 554, ../scss/styles.scss */
  .footerRightSide {
    width: 23%;
  }
}

/* line 564, ../scss/styles.scss */
.mobilePhoneImage {
  margin: 11px 0 -2px 0;
}

/* line 572, ../scss/styles.scss */
.copyrightText {
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #666666;
}
/* line 578, ../scss/styles.scss */
.copyrightText a {
  color: #666666;
  text-decoration: none;
}

/* line 592, ../scss/styles.scss */
.adColumnRight {
  background-color: #e6e3dc;
  padding: 8px;
  width: 308px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 598, ../scss/styles.scss */
.adColumnRight img {
  margin-bottom: 8px;
}
/* line 599, ../scss/styles.scss */
.adColumnRight img:last-child {
  margin-bottom: 0px;
}

/* line 618, ../scss/styles.scss */
.featuredShowSlider {
  width: 641px;
  height: 360px;
  padding-top: 256px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/placeholder-big-show-image.png) no-repeat bottom left;
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 618, ../scss/styles.scss */
  .featuredShowSlider {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (max-width: 420px) {
  /* line 618, ../scss/styles.scss */
  .featuredShowSlider {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}
/* line 629, ../scss/styles.scss */
.featuredShowSlider div {
  background-color: rgba(35, 31, 32, 0.6);
  -webkit-background-origin: content;
  -moz-background-origin: content;
  background-origin: content-box;
  padding: 10px;
  width: 621px;
  height: 84px;
  bottom: 0px;
}
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  /* line 629, ../scss/styles.scss */
  .featuredShowSlider div {
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  /* line 629, ../scss/styles.scss */
  .featuredShowSlider div {
    width: 100%;
  }
}
/* line 643, ../scss/styles.scss */
.featuredShowSlider h3 {
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 24px;
  color: white;
}
/* line 651, ../scss/styles.scss */
.featuredShowSlider h4 {
  font-family: "Periodico Text", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: white;
}
@media only screen and (max-width: 420px) {
  /* line 651, ../scss/styles.scss */
  .featuredShowSlider h4 {
    display: none;
  }
}

/* line 665, ../scss/styles.scss */
.sectionTitle {
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  color: #1a6c99;
}
/* line 671, ../scss/styles.scss */
.sectionTitle a {
  color: #1a6c99;
  text-decoration: none;
}

/* line 674, ../scss/styles.scss */
.storyName {
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}
/* line 680, ../scss/styles.scss */
.storyName a {
  color: #333333;
  text-decoration: none;
}

/* line 683, ../scss/styles.scss */
.storyDescription {
  font-family: "Periodico Text", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
  color: #333333;
  margin-bottom: 6px;
}
/* line 690, ../scss/styles.scss */
.storyDescription a {
  color: #1a6c99;
  text-decoration: none;
}

/* line 699, ../scss/styles.scss */
.storyBlock {
  width: 324px;
  min-height: 340px;
  border: 1px solid #d3d2d2;
  background-color: white;
  border-top: 6px solid #e6e3dc;
  float: left;
  overflow: hidden;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 1024px) {
  /* line 699, ../scss/styles.scss */
  .storyBlock {
    margin-right: 10px;
  }
}
/* line 713, ../scss/styles.scss */
.storyBlock .storyWrapper {
  padding: 10px;
}
/* line 718, ../scss/styles.scss */
.storyBlock .sectionTitle {
  margin-bottom: 3px;
  width: 45%;
  float: left;
  overflow: hidden;
  *zoom: 1;
}
/* line 725, ../scss/styles.scss */
.storyBlock .storyName {
  margin-bottom: 5px;
}
/* line 729, ../scss/styles.scss */
.storyBlock .authorName {
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  float: right;
  overflow: hidden;
  *zoom: 1;
  color: #333333;
  margin-bottom: 3px;
  text-align: right;
  width: 45%;
}
/* line 739, ../scss/styles.scss */
.storyBlock .authorName a {
  color: #333333;
  text-decoration: none;
}
/* line 742, ../scss/styles.scss */
.storyBlock .socialBlock {
  background-color: #f4f4f4;
  background-origin: content-box;
  height: 40px;
  width: 100%;
}

/* line 760, ../scss/styles.scss */
.featuredArtistSlider {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(51, 51, 51, 0.1)), color-stop(100%, rgba(51, 51, 51, 0.1))), url(../images/texturebg.png);
  background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0.1), rgba(51, 51, 51, 0.1)), url(../images/texturebg.png);
  background: -moz-linear-gradient(top, rgba(51, 51, 51, 0.1), rgba(51, 51, 51, 0.1)), url(../images/texturebg.png);
  background: linear-gradient(top, rgba(51, 51, 51, 0.1), rgba(51, 51, 51, 0.1)), url(../images/texturebg.png);
  width: 320px;
  padding: 9px;
  min-height: 225px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 771, ../scss/styles.scss */
.featuredArtistSlider img {
  margin-bottom: 0px;
}
/* line 773, ../scss/styles.scss */
.featuredArtistSlider .sectionTitle {
  margin-top: 5px;
  margin-bottom: 0px;
}
/* line 778, ../scss/styles.scss */
.featuredArtistSlider .storyName {
  margin-top: -5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 794, ../scss/styles.scss */
.musicPlayer {
  width: 320px;
  height: 158px;
  border: 1px solid #d3d2d2;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(70%, #f5f5f5));
  background: -webkit-linear-gradient(top, #ffffff 20%, #f5f5f5 70%);
  background: -moz-linear-gradient(top, #ffffff 20%, #f5f5f5 70%);
  background: linear-gradient(top, #ffffff 20%, #f5f5f5 70%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* line 807, ../scss/styles.scss */
.musicPlayer .storyName {
  margin-top: -5px;
}
/* line 811, ../scss/styles.scss */
.musicPlayer .textArea {
  margin-left: 150px;
  margin-top: 20px;
  width: 160px;
  min-height: 40px;
}
/* line 819, ../scss/styles.scss */
.musicPlayer .storyDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 820, ../scss/styles.scss */
.musicPlayer .storyDescription a {
  color: #333333;
  text-decoration: none;
}
/* line 824, ../scss/styles.scss */
.musicPlayer .rightMusicArrow {
  position: absolute;
  bottom: 0px;
  right: 10px;
}
/* line 830, ../scss/styles.scss */
.musicPlayer .leftMusicArrow {
  position: absolute;
  bottom: 0px;
  left: 10px;
}
/* line 836, ../scss/styles.scss */
.musicPlayer .votingBox {
  width: 103px;
  height: 39px;
  border: 1px dashed #d3d2d2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
  background: url(../images/up-voting-arrow.png) no-repeat 70% center;
}
/* line 846, ../scss/styles.scss */
.musicPlayer .voteText {
  position: absolute;
  left: 12px;
  top: 8px;
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  border-right: 1px dashed #d3d2d2;
  padding-right: 12px;
}
/* line 857, ../scss/styles.scss */
.musicPlayer .voteNumber {
  position: absolute;
  right: 12px;
  top: 8px;
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
}
