$lightGrayImageBorder: rgba(#666666, 0.3);
$darkBrown: #4D3800; 
$tan: #E6E3DC; 
$searchBox: rgba(#E6E3DC, 0.47);
$searchBoxText: rgba(#4D3800, 0.4);
$tanOverlay: rgba(#DBD7D1, 0.4);
$orange: #F79101;
$mainNavText: rgba(#4D3800, 0.9);
$navDividingLine: rgba(#4B3900, 0.2);
$subNavText: #333333;
$grayText: #333333;
$blueText: #1A6C99;
$brownText: #4F3700;
$lightGrayText: #666666;
$tan: #E6E3DC;
$blackPicOverlay: rgba(#231F20, 0.6);
$grayBorder: #d3d2d2;

@import "compass/css3/border-radius"; 
@import "compass/css3/box-shadow";
@import "compass/typography/lists/bullets";
@import "compass/typography/links/unstyled-link";
@import "compass/typography";
@import "compass/css3/images";
@import "compass/css3";
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/typography/text/ellipsis";


/* support */
$experimental-support-for-khtml: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;

$break-small: 420px; // should be 320px
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

@mixin PeriodicoDisplay(){
  font-family: "Periodico Display", Helvetica, Arial, sans-serif;
}

@mixin PeriodicoText(){
  font-family: "Periodico Text", Helvetica, Arial, sans-serif;
}

@mixin Calibri(){
  font-family: "Calibri", Helvetica, Arial, sans-serif;
}

@mixin txt($thisColor: #333333,$thisSize: 14, $thisLineHeight: auto, $thisAlign: left) {
  color: #{$thisColor};
  font-size: #{$thisSize};
  line-height: #{$thisLineHeight};
  text-align: #{$thisAlign};
}

@mixin size($thisWidth: 100%, $thisHeight: 100px) {
  width: #{$thisWidth};
  height: #{$thisHeight}; 
}

@include global-reset();

.plainBG
{@include background(url(../images/texturebg.png));}

// for development only
.paddIt
{padding: 20px;}

// for development only
.sizeIt
{height: 300px; width: 300px;}

// for development only
.addLeftSpace
{margin-left: 15px;}

// for development only
.addTopSpace
{margin-top: 15px;}

// for development only
.spacer
{height: 60px; width: 300px;}





// -----------------------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------------------

.headerBG
{
  width: 100%;
  @include background(url(../images/texturebg.png));
  @include respond-to(wide-screens)   { height: 162px; }
  @include respond-to(medium-screens) { height: 142px; }
  @include respond-to(handhelds)      { height: 67px; }
}

.dashedBorder
{
  padding: 4px;
  border: dashed 1px $lightGrayImageBorder;
}

.utilityNavText
{
  @include PeriodicoDisplay();
  font-size: 13px;
  line-height: 15px;
  color: $darkBrown;
  border-right: dashed 1px $lightGrayImageBorder;
  a { color: $darkBrown; text-decoration:none; }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

// for the searchbox
input
{
  @include size(218px, 28px);
  border: 1px solid $tan;
  background-color: $searchBox;
  // @include opacity(0.95);
  padding-left: 10px; 
  padding-right: 10px;
  @include background(url(../images/searchIcon.png) no-repeat right center, linear-gradient(top, $searchBox, $searchBox) );
  -webkit-background-origin: content-box;
  background-origin: content-box;
  @include Calibri();
  color: $searchBoxText;
  font-size: 14px;
}

.tanOverlay
{
  
  width: 100%;
  background-color: $tanOverlay;
  overflow: visible;
  // border-bottom: 10px solid transparent;
  background-clip: border-box;
  @include background(linear-gradient(top, $tanOverlay, $tanOverlay),url(../images/texturebg.png));
  @include respond-to(wide-screens)   { height: 58px; }
  @include respond-to(medium-screens) { height: 40px; }
  @include respond-to(handhelds)      {  } 
  // maybe display:none for mobile
}

.brownBar
{
  width: 100%;
  background-color: $darkBrown;
  @include respond-to(wide-screens)   { height: 36px; }
  @include respond-to(medium-screens) { height: 36px; }
  @include respond-to(handhelds)      { display: none; } 
}

.brownBarArtist
{
  @include PeriodicoDisplay();
  color: white;
  @include respond-to(wide-screens)   { line-height: 36px; font-size: 13px; }
  @include respond-to(medium-screens) { line-height: 36px; font-size: 11px; margin-left: 15px; }
  @include respond-to(handhelds)      {  }
}

.brownBarSong
{
  @include PeriodicoDisplay();
  color: $orange;
  font-size: 11px;
  margin-left: 5px;
  @include respond-to(wide-screens)   { line-height: 36px; font-size: 13px; }
  @include respond-to(medium-screens) { line-height: 36px; font-size: 11px; }
  @include respond-to(handhelds)      {  }
}

.brownBarSponsor
{
  @include PeriodicoDisplay();
  color: white;
  font-size: 11px;
  text-align: right;
  float: right;
  @include respond-to(wide-screens)   { line-height: 36px; font-size: 13px; }
  @include respond-to(medium-screens) { line-height: 36px; font-size: 11px; margin-right: 15px;}
  @include respond-to(handhelds)      {  }
}

.mainNav
{
  color: $mainNavText;
  @include PeriodicoDisplay();
  display: inline;
  padding: 6px 12px;
  overflow: visible;
  a { color: $mainNavText; text-decoration:none; height: 58px; }
  @include respond-to(wide-screens)   
  { 
    font-size: 17px;
    border-right: 1px dashed $navDividingLine;
    line-height: 58px;
    height: 150px;
    &:last-child { border-right: none; };
  }
  @include respond-to(medium-screens) 
  { 
    line-height: 40px;font-size: 14px; border-right: 1px dashed $navDividingLine; line-height: 40px; height: 40px;
    &:last-child { border-right: none; }; 
  }
  @include respond-to(handhelds)      { font-size: 17px; }
}

.mainNavSelected
{
  background-color: rgba(white, 1); // Old browsers
  overflow: visible;
  background-origin: border-box;
  padding: 12px 15px 20px 15px;
  margin: 0 -12px 0 -16px;
  @include filter-gradient(rgba(gray, 0.5), rgba(gray, 0.5), vertical); // IE6-9
  @include respond-to(wide-screens)   { @include background(url(../images/selectedNavArrow.png) no-repeat center 56px, linear-gradient(top, rgba(white, 0.94) 0%, rgba(white, 0.99) 10%, rgba(white, 0.0) 50%, rgba(white, 1.0) 83%, rgba(white, 0.0) 83%)); padding: 18px 15px 32px 15px; margin: 0 -12px 0 -16px; }
  @include respond-to(medium-screens) { @include background(url(../images/selectedNavArrow.png) no-repeat center 39px, linear-gradient(top, rgba(white, 0.94) 0%, rgba(white, 0.99) 10%, rgba(white, 0.0) 50%, rgba(white, 1.0) 83%, rgba(white, 0.0) 83%)); padding: 12px 15px 20px 15px; margin: 0 -12px 0 -16px;  }
  @include respond-to(handhelds)      {  }
}

.subNavBG
{
  width: 100%;
  background-color: $tanOverlay;
  padding: 15px;
  @include background(url(../images/navDropdownTopGradient.png) repeat-x top, linear-gradient(top, $tanOverlay, $tanOverlay),url(../images/texturebg.png));
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  } 
}

.subNavText
{
  @include Calibri();
  @include horizontal-list();
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: $subNavText;
  a { color: $subNavText; text-decoration:none; }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.subNavTextWrapper
{
  border-right: 1px dashed $navDividingLine;
  border-left: 1px dashed $navDividingLine;
  width: 370px;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}





// -----------------------------------------------------------------------------------------
// DROP DOWN THING
// -----------------------------------------------------------------------------------------


.subNavDropDownSectionTitle
{ 
  color: $blueText;
  font-size: 13px;
  a { color: $blueText; text-decoration:none; }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      { display: none; }
}

.subNavDropDownSectionAuthor
{ 
  color: $brownText;
  font-size: 13px;
  a { color: $brownText; text-decoration:none; }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      { display: none; }
}

.storyTitleText
{
  @include Calibri();
  font-weight: bold;
  color: $grayText;
  font-size: 18px;
  line-height: 18px;
  a { color: $grayText; text-decoration:none; }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      { font-size: 24px; line-height: 24px; }
}

.storySummaryText
{
  color: $grayText;
  a { color: $blueText; text-decoration:none; }
  font-size: 14px;
  line-height: 16px;
  @include PeriodicoText();
  @include respond-to(wide-screens)   { width: 258px; }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      { width: 100% }
}





// -----------------------------------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------------------------------

.footerStreamingText
{
  font-size: 13px;
  line-height: 24px;
  color: $blueText;
  a { color: $blueText; text-decoration:none; }
  @include Calibri();
  font-weight: bold;
  text-align: center;
  @include respond-to(wide-screens)   { width: 100%; }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.footerSlogan
{
  color: $brownText;
  a { color: $brownText; text-decoration:none; }
  font-weight: bold;
  @include Calibri();
  font-size: 23px;
  line-height: 24px;
  text-align: center;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
} 

.footerUtilityNav
{
  @include PeriodicoDisplay();
  @include horizontal-list();
  font-style: italic;
  color: $brownText;
  font-size: 14px;
  line-height: 16px;
  li {   
    padding: 10px 18px;
    border-right: dashed 1px $lightGrayImageBorder;
    &:last-child { border-right: none; };
    a { color: $brownText; text-decoration:none; };
    &.footerUtilityDonate {color: red; @include background(url(../images/donate-heart.png) no-repeat 17px 11px); padding-left: 36px;}; 
  }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.footerUtilityWrapper
{
  @include background(url(../images/texturebg.png));
  padding: 15px;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}






// -----------------------------------------------------------------------------------------
// FAT FOOTER
// -----------------------------------------------------------------------------------------

.deskTopFooter
{
  @include respond-to(wide-screens)   { display: block; }
  @include respond-to(medium-screens) { display: none; }
  @include respond-to(handhelds)      { display: none; }
}

.tabletFooter
{
  @include respond-to(wide-screens)   { display: none; }
  @include respond-to(medium-screens) { display: block; }
  @include respond-to(handhelds)      { display: none; }
}

.mobileFooter
{
  @include respond-to(wide-screens)   { display: none; }
  @include respond-to(medium-screens) { display: none; }
  @include respond-to(handhelds)      { display: block; }
}

.footerNavWrapper
{ 
  @include background(linear-gradient(top, $tanOverlay, $tanOverlay), url(../images/texturebg.png));
  padding: 30px 15px;
  // height: 500px;
  @include clearfix();
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      { border-bottom: dashed 1px $lightGrayImageBorder; padding: 0;}

  h3
  {
    color: $brownText;
    @include ellipsis();
    a { color: $brownText; text-decoration:none; }
    @include PeriodicoDisplay();
    font-style: italic;
    font-weight: medium;
    padding-bottom: 4px;
    @include respond-to(wide-screens)   { font-size: 17px; line-height: 20px; }
    @include respond-to(medium-screens) { font-size: 14px; line-height: 17px; }
    @include respond-to(handhelds)      { font-size: 14px; line-height: 35px; padding-top: 5px; padding-left: 15px; @include background(url(../images/texturebg.png)); background-origin: content-box;}
  }

  li
  {
    @include respond-to(handhelds)      
    { 
      @include Calibri();
      font-weight: bold;
      font-size: 13px;
      line-height: 35px;
      color: $brownText;
      border-bottom: dashed 1px $lightGrayImageBorder;
      @include background(linear-gradient(top, $tanOverlay, $tanOverlay), url(../images/texturebg.png));
      padding-left: 15px;
    }
  }

}

// widths for fat footer sections.
.width6Wide {width: 16%; float: left; }
.width5Wide {width: 20%; float: left; }
.width4Wide {width: 25%; float: left; }
.width3Wide {width: 32%; float: left; }
.width2Wide {width: 50%; float: left; }
.width1Wide {width: 100%; float: left; }



@include respond-to(wide-screens)   
{  
  .col1Wide {float: left; width: 20%; }
  .col2Wide {float: left; width: 20%*2;}
  .col3Wide {float: left; width: 20%*3;}
  .col4Wide {float: left; width: 20%*4;}
  .col5Wide {float: left; width: 20%*5;}
}
@include respond-to(medium-screens) 
{  
  .col1Wide {float: left; width: 32%; }
  .col2Wide {float: left; width: 32%*2;}
  .col3Wide {float: left; width: 32%*3;}
  .col4Wide {float: left; width: 32%*4;}
  .col5Wide {float: left; width: 32%*5;}
}

.footerNavListWrapper
{
  border-top: dashed 1px $lightGrayImageBorder;
  // background-origin: content-box;
  margin-right: 20px;
  margin-bottom: 25px;
  @include clearfix();
  // margin-right: 2%;

  // float: left;
  // background-color: red;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.footerNavListText
{
  @include Calibri();
  @include no-bullet();
  font-weight: bold;
  font-size: 13px; 
  line-height: 24px;
  padding-top: 8px;
  color: $darkBrown;
  a { color: $darkBrown; text-decoration:none; }
  li {@include ellipsis(); padding-right: 3px;}
  ul { float: left; display: block; }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

$footerRowSpacing: 30px;

.footerLeftSide
{
  float: left;
  // @include clearfix();
  // border: 1px solid red;
  margin-top: $footerRowSpacing;
  
  @include respond-to(wide-screens)   { width: 80%; }
  @include respond-to(medium-screens) { width: 75%; }
  @include respond-to(handhelds)      {  }
}

.footerRightSide
{
  width: 16%;
  float: left;
  margin-top: $footerRowSpacing;
  @include respond-to(wide-screens)   { width: 16%; }
  @include respond-to(medium-screens) { width: 23%; }
  @include respond-to(handhelds)      {  }
}

.mobilePhoneImage
{
  margin: 11px 0 -2px 0;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.copyrightText
{
  @include Calibri();
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: $lightGrayText;
  a { color: $lightGrayText; text-decoration:none; }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}


// -----------------------------------------------------------------------------------------
// AD COLUMN
// -----------------------------------------------------------------------------------------



.adColumnRight
{
  background-color: $tan;
  padding: 8px;
  width: 308px;
  // @include background-origin(); 
  @include box-sizing(border-box);
  img { margin-bottom: 8px; 
    &:last-child { margin-bottom: 0px;  };
  }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}




// -----------------------------------------------------------------------------------------
// BIG SHOW IMAGE
// -----------------------------------------------------------------------------------------

$featuredShowContainerHeight: 360px;
$featuredShowDivBarHeight: 84px;


.featuredShowSlider
{
  // border: 1px solid red;
  width: 641px;
  height: $featuredShowContainerHeight;
  // padding-top: $featuredShowContainerHeight - $featuredShowDivBarHeight;
  @include background-origin(); 
  @include background(url(../images/placeholder-big-show-image.png) no-repeat bottom left );
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
  div {
    background-color: $blackPicOverlay;
    // background-color: white;
    @include background-origin(); 
    padding: 10px;
    width: 621px;
    height: $featuredShowDivBarHeight;
    position: absolute;
    // bottom: 0px;
    // margin-top: $featuredShowContainerHeight - $featuredShowDivBarHeight;
    margin-top: 256px;
  }
  h3 {
    @include Calibri();
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;
    color: white;
  }

  h4 {
    @include PeriodicoText();
    font-size: 14px;
    line-height: 16px;
    color: white;
  }
}


// -----------------------------------------------------------------------------------------
// STORY BLOCK
// -----------------------------------------------------------------------------------------

.storyBlock
{
  width: 324px;
  height: 340px;
  border: 1px solid $grayBorder;
  border-top: 6px solid $tan;
  padding: 10px;
  @include box-sizing(border-box);
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }

  .sectionTitle {
    @include Calibri();
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    color: $blueText;
    width: 45%;
    float: left;
    @include clearfix();
    a { color: $blueText; text-decoration:none; }
  }

  .authorName {
    @include Calibri();
    font-size: 13px;
    line-height: 18px;
    float: right;
    @include clearfix();
    color: $grayText;
    text-align: right;
    width: 45%;
    a { color: $grayText; text-decoration:none; }    
  }

  .storyName {
    @include Calibri();
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: $grayText;
    a { color: $grayText; text-decoration:none; }
  }

  .storyDescription {
    @include PeriodicoText();
    font-size: 14px;
    line-height: 16px;
    color: $grayText;
  }
}

