$lightGrayImageBorder: rgba(#666666, 0.3);
$darkBrown: #4D3800; 
$tan: #E6E3DC; 
$searchBox: rgba(#E6E3DC, 0.47);
$searchBoxText: rgba(#4D3800, 0.4);
$tanOverlay: rgba(#DBD7D1, 0.4);
$grayOverlay: rgba(#333333, 0.1);
$orange: #F79101;
$mainNavText: rgba(#4D3800, 0.9);
$navDividingLine: rgba(#4B3900, 0.2);
$subNavText: #333333;
$grayText: #333333;
$blueText: #1A6C99;
$brownText: #4F3700;
$lightGrayText: #666666;
$tan: #E6E3DC;
$blackPicOverlay: rgba(#231F20, 0.6);
$grayBorder: #d3d2d2;
$socialBlockColor: #F4F4F4;
$lightGradientBottom: #f5f5f5; 
$buttonGradientBottom: #e5e2da;
$brownLine: #92896b;
$socialLinkText: #404041;
$formGradientTop: #f1f2f2;
$transparent: rgba(white, 0.0);

@import "compass/css3/border-radius"; 
@import "compass/css3/box-shadow";
@import "compass/typography/lists/bullets";
@import "compass/typography/links/unstyled-link";
@import "compass/typography";
@import "compass/css3/images";
@import "compass/css3";
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/typography/text/ellipsis";


/* support */
$experimental-support-for-khtml: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: true;

$break-small: 420px; // should be 320px
$break-inbetween: 620px; // should be 320px
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @if $media == inbetween {
    @media only screen and (max-width: $break-inbetween) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

@mixin PeriodicoDisplay(){
  font-family: "Periodico Display", Helvetica, Arial, sans-serif;
}

@mixin PeriodicoText(){
  font-family: "Periodico Text", Helvetica, Arial, sans-serif;
}

@mixin Calibri(){
  font-family: "Calibri", Helvetica, Arial, sans-serif;
}

@mixin Helvetica(){
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin txt($thisColor: #333333,$thisSize: 14, $thisLineHeight: auto, $thisAlign: left) {
  color: #{$thisColor};
  font-size: #{$thisSize};
  line-height: #{$thisLineHeight};
  text-align: #{$thisAlign};
}

@mixin size($thisWidth: 100%, $thisHeight: 100px) {
  width: #{$thisWidth};
  height: #{$thisHeight}; 
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@include global-reset();

.plainBG
{@include background(url(../images/texturebg.png));}

// for development only
.paddIt
{padding: 20px;}

// for development only
.sizeIt
{height: 300px; width: 300px;}

// for development only
.addLeftSpace
{margin-left: 15px;}

// for development only
.addTopSpace
{margin-top: 15px;}

// for development only
.spacer
{height: 60px; width: 300px;}

.clearBoth {
  clear: both;
  @include clearfix();
}

// For image replacement
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }


// -----------------------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------------------


// used to be headerBG
#zone-branding-wrapper
{
  width: 100%;
  // @include background(url(../images/), url(../images/texturebg.png));
  // @include respond-to(wide-screens)   { @include background( url(../images/logo_desktop.png) center no-repeat, url(../images/texturebg.png)); height: 162px; }
  // @include respond-to(medium-screens) { @include background( url(../images/logo_tablet.png) center no-repeat, url(../images/texturebg.png)); height: 142px; }
  @include respond-to(wide-screens)   { @include background( url(../images/texturebg.png)); height: 162px; }
  @include respond-to(medium-screens) { @include background( url(../images/texturebg.png)); height: 142px; }
  @include respond-to(handhelds)      { @include background( url(../images/texturebg.png)); height: 67px; }
}

.header-ad {
  // border: 1px solid red;
  width: 234px;
  display: inline-block;
  float: left;

  @include respond-to(wide-screens)   { margin-top: 50px; }
  @include respond-to(medium-screens) { margin-top: 34px; }
  @include respond-to(inbetween)      { display:none; }
}

// .zone-branding {
//   @include respond-to(wide-screens)   {  }
//   @include respond-to(medium-screens) {   }
//   @include respond-to(handhelds)      {  }
// }

.header-logo {
  // border: 1px solid blue;
  display: block;
  float: none;
  margin: 0 auto;
  @include background(url(../images/logo_desktop.png) center); height: 127px; width: 134px;
  @include respond-to(wide-screens)   { @include background(url(../images/logo_desktop.png) center no-repeat); height: 127px; width: 134px; padding-top: 16px;}
  @include respond-to(medium-screens) { @include background(url(../images/logo_tablet.png) center no-repeat); height: 100px; width: 95px;padding-top: 20px; }
  @include respond-to(handhelds)      { @include background(url(../images/logo_mobile.png) center no-repeat); height: 58px; width: 61px;padding-top: 4px; }
}

.header-search {
  // float: right;
  // border: 1px solid green;
  position: absolute;
  right: 0;
  top: 0;
  @include respond-to(wide-screens)   { margin-top: 35px; }
  @include respond-to(medium-screens) { margin-top: 13px; right: 15px; }
  @include respond-to(inbetween) { display:none; right: 15px; }
  @include respond-to(handhelds)      { display: none; }
}

.dashedBorder, #zone-branding-wrapper .block-openx img
{
  padding: 4px;
  border: dashed 1px $lightGrayImageBorder;
}

.utilityNavText
{
  @include PeriodicoDisplay();
  font-size: 13px;
  line-height: 15px;
  color: $darkBrown;
  border-right: dashed 1px $lightGrayImageBorder;
  a { color: $darkBrown; text-decoration:none; }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

// for the searchbox
.search-wrapper
{
  // input {
    
    //@include size(100%, 28px);
    border: 1px solid $tan;
    background-color: $searchBox;
    // @include opacity(0.95);
    padding-left: 10px; 
    padding-right: 10px;
   
    @include Calibri();
    color: $searchBoxText;
    font-size: 14px;
    display: inline-block !important;
    margin: 10px 0;
    // padding: 5px;
  // }
  input {
    background-color: $transparent;
    border: none;
    @include Calibri();
    color: $searchBoxText;
    font-size: 14px;
    &:focus { box-shadow: none; };
  }

  a {
    text-transform: lowercase;
  }

#edit-search-block-form--2{
    width:175px;
  }
#edit-submit {
  border:none;
}
}

// #search-block-form input.form-submit, #search-form input.form-submit {
#search-block-form input.form-submit, #search-form input.form-submit {
     @include background(url(../images/searchIcon.png) no-repeat right center, linear-gradient(top, $searchBox, $searchBox) );
    -webkit-background-origin: content-box;
    background-origin: content-box;
    cursor: pointer;
    height: 27px;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    width: 27px;
    input{
      &:focus { box-shadow: none; };
    }
}

.tanOverlay
{
  
  width: 100%;
  background-color: $tanOverlay;
  overflow: visible;
  // border-bottom: 10px solid transparent;
  background-clip: border-box;
  @include background(linear-gradient(top, $tanOverlay, $tanOverlay),url(../images/texturebg.png));
  @include respond-to(wide-screens)   { height: 58px; }
  @include respond-to(medium-screens) { height: 40px; }
  @include respond-to(handhelds)      {  } 
  // maybe display:none for mobile
}


// previously .brownBar
.brownbar
{
  width: 100%;
  background-color: $darkBrown;
  @include respond-to(wide-screens)   { height: 36px; }
  @include respond-to(medium-screens) { height: 36px; }
  @include respond-to(handhelds)      { display: none; } 
}
#currentTrack { display:inline-block; }

.brownBarArtist
{
  @include PeriodicoDisplay();
  color: white;
  @include respond-to(wide-screens)   { line-height: 36px; font-size: 13px; }
  @include respond-to(medium-screens) { line-height: 36px; font-size: 11px; margin-left: 15px; }
  @include respond-to(handhelds)      {  }
}

.brownBarSong
{
  @include PeriodicoDisplay();
  color: $orange;
  font-size: 11px;
  margin-left: 5px;
  @include respond-to(wide-screens)   { line-height: 36px; font-size: 13px; }
  @include respond-to(medium-screens) { line-height: 36px; font-size: 11px; }
  @include respond-to(handhelds)      {  }
}

.brownBarSponsor
{
  @include PeriodicoDisplay();
  color: white;
  font-size: 11px;
  text-align: right;
  float: right;
  @include respond-to(wide-screens)   { line-height: 36px; font-size: 13px; }
  @include respond-to(medium-screens) { line-height: 36px; font-size: 11px; margin-right: 15px;}
  @include respond-to(handhelds)      {  }
}

// overwriting drupal classes
#zone-menu-wrapper{
  @include background(linear-gradient(top, $tanOverlay, $tanOverlay),url(../images/texturebg.png));

}


// used to be .mainNav
#om-maximenu-main-menu
{
  ul { float:none;height:auto;overflow:auto;
  }


}
#om-maximenu-main-menu {}
.om-menu-ul-wrapper {}
.om-maximenu ul.om-menu li.om-leaf {height:auto;}
.om-maximenu .om-maximenu-middle {background:transparent;}
.om-maximenu .block {display:inline;float:left;margin:5px;}
#om-maximenu-main-menu > .om-menu-ul-wrapper > ul > li {
    //@include background(linear-gradient(top, $tanOverlay, $tanOverlay),url(../images/texturebg.png));
    color: $mainNavText;
    @include PeriodicoDisplay();
    display: inline;
    overflow: visible;
    margin-right: 0px;
    padding: 10px 0 19px 0;
    > a, > span { color: $mainNavText; text-decoration:none; 
      padding: 3px 14px;
      border-right: 1px dashed $navDividingLine;
      text-transform: lowercase;
      @include respond-to(handhelds)      { border-right:none;}

      &.listen-live {@include background(url(../images/radio-tower.png) no-repeat left center); padding-left:37px;}
    }
    
    @include respond-to(wide-screens) { 
      font-size: 17px;
      &:last-child { border-right: none; };
    }
    
    @include respond-to(medium-screens) { 
      font-size: 14px;
      &:last-child { border-right: none; }; 
    }
    
    @include respond-to(handhelds)      { font-size: 17px; display: none;}
    
    &.active, &.active-trail {
      background-color: rgba(white, 1); // Old browsers
//      overflow: visible;
  //    background-origin: border-box;
      @include filter-gradient(rgba(gray, 0.5), rgba(gray, 0.5), vertical); // IE6-9
      @include respond-to(wide-screens)   { @include background(url(../images/selectedNavArrow.png) no-repeat center bottom, linear-gradient(top, rgba(white, 0.94) 0%, rgba(white, 0.99) 10%, rgba(white, 0.0) 50%, rgba(white, 1.0) 88%, rgba(white, 0.0) 88%));}
      @include respond-to(medium-screens) { @include background(url(../images/selectedNavArrow.png) no-repeat center bottom, linear-gradient(top, rgba(white, 0.94) 0%, rgba(white, 0.99) 10%, rgba(white, 0.0) 50%, rgba(white, 1.0) 88%, rgba(white, 0.0) 88%));}
      //@include respond-to(handhelds)      {  }
    }

    &.open {
      background-color: rgba(white, 1); // Old browsers
//      overflow: visible;
  //    background-origin: border-box;
      @include filter-gradient(rgba(gray, 0.5), rgba(gray, 0.5), vertical); // IE6-9
      @include respond-to(wide-screens)   { @include background(url(../images/selectedNavArrow.png) no-repeat center bottom, linear-gradient(top, rgba(white, 1) 0%, rgba(white, 1.0) 88%, rgba(white, 0.0) 88%));}
      @include respond-to(medium-screens) { @include background(url(../images/selectedNavArrow.png) no-repeat center bottom, linear-gradient(top, rgba(white, 1) 0%, rgba(white, 1.0) 88%, rgba(white, 0.0) 88%));}
      @include respond-to(handhelds)      {  }
    }
}

.om-maximenu-tabbed-content{ 
      top:66px;
      width: 100%;
      position: absolute;
      background-color: $tanOverlay;
      @include background(url(../images/navDropdownTopGradient.png) repeat-x top, linear-gradient(top, $tanOverlay, $tanOverlay),url(../images/texturebg.png));
      @include respond-to(wide-screens)   {  }
      @include respond-to(medium-screens) {  }
      @include respond-to(handhelds)      {  } 

      ul
      {
        border-right: 1px dashed $navDividingLine;
        border-left: 1px dashed $navDividingLine;
        width: 370px;
        padding: 0 0 0 20px;
        float:left;
        @include respond-to(wide-screens)   {  }
        @include respond-to(medium-screens) {  }
        @include respond-to(handhelds)      {  }
        li
        {
          @include Calibri();
          @include horizontal-list();
          font-weight: bold;
          font-size: 18px;
          line-height: 27px;
          color: $subNavText;
          width: 162px;
          padding: 0 20px 0 0;
          display: inline-block;
          float:left;
          a { color: $subNavText; text-decoration:none;}
          @include respond-to(wide-screens)   {  }
          @include respond-to(medium-screens) {  }
          @include respond-to(handhelds)      {  }
        } 
      }
      .view-story-utility, .view-events {

        .highlight {
          color: $blueText;
          font-size: 13px;
          display:inline;
          a { color: $blueText; text-decoration:none; }
          @include respond-to(wide-screens)   {  }
          @include respond-to(medium-screens) {  }
          @include respond-to(handhelds)      { display: none; }
        }
        .highlightImage {float:left;}
        .highlightBody {float:left;}
        .highlightAuthor, .higlightDate {
          color: $brownText;
          font-size: 13px;
          display:inline;
          a { color: $brownText; text-decoration:none; }
          @include respond-to(wide-screens)   {  }
          @include respond-to(medium-screens) {  }
          @include respond-to(handhelds)      { display: none; }}
        .highlightTitle {@include Calibri();
          font-weight: bold;
          color: $grayText;
          font-size: 18px;
          line-height: 18px;
          a { color: $grayText; text-decoration:none; }
          @include respond-to(wide-screens)   {  }
          @include respond-to(medium-screens) {  }
          @include respond-to(handhelds)      { font-size: 24px; line-height: 24px; }}
        .highlightSummary {
          color: $grayText;
          a { color: $grayText; text-decoration:none; }
          font-size: 14px;
          line-height: 16px;
          @include PeriodicoText();
          @include respond-to(wide-screens)   { width: 258px; }
          @include respond-to(medium-screens) {  }
          @include respond-to(handhelds)      { width: 100% }
        }

      }
    }
#om-maximenu-main-menuul.megamenu-slots-columnar
{
  width: 100%;
  background-color: $tanOverlay;
  padding: 15px;
  @include background(url(../images/navDropdownTopGradient.png) repeat-x top, linear-gradient(top, $tanOverlay, $tanOverlay),url(../images/texturebg.png));
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  } 
}

.zone-playing-container-wrapper{margin-top:-8px;}


// -----------------------------------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------------------------------

.footerStreamingText
{
  font-size: 13px;
  line-height: 24px;
  color: $blueText;
  a { color: $blueText; text-decoration:none; }
  @include Calibri();
  font-weight: bold;
  text-align: center;
  @include respond-to(wide-screens)   { width: 100%; }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.footerSlogan
{
  color: $brownText;
  a { color: $brownText; text-decoration:none; }
  font-weight: bold;
  @include Calibri();
  font-size: 23px;
  line-height: 24px;
  text-align: center;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
} 

.footerUtilityNav.top
{
  @include PeriodicoDisplay();
  @include horizontal-list();

  font-style: italic;
  color: $brownText;
  font-size: 14px;
  line-height: 16px;
  
  li {
    padding:0;
    &:first-child a { padding-left:0; };
    &:last-child a { border-right: none; };
    a { color: $brownText; text-decoration:none;padding: 2px 12px;float:left;border-right: dashed 1px $lightGrayImageBorder;};
  }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}
.footerUtilityNav.bottom
{
  @include PeriodicoDisplay();
  @include horizontal-list();

  font-style: italic;
  color: $brownText;
  font-size: 14px;
  line-height: 16px;

  li {   
    a { color: $brownText; text-decoration:none; 
    &.footerUtilityDonate { @include background(url(../images/donate-top.png) no-repeat left center); width:85px;height:29px;@include image-2x("../images/donate-top-2x.png", 85px, 29px);};
    &.footerUtilityGooglePlus { @include background(url(../images/google-plus-top.png) no-repeat center center);width:29px;height:29px;@include image-2x("../images/google-plus-top-2x.png", 29px, 29px);};
    &.footerUtilityFacebook { @include background(url(../images/facebook-top.png) no-repeat center center); width:29px;height:29px;@include image-2x("../images/facebook-top-2x.png", 29px, 29px);};
    &.footerUtilityTwitter { @include background(url(../images/twitter-top.png) no-repeat center center); width:29px;height:29px;@include image-2x("../images/twitter-top-2x.png", 29px, 29px);}; 
    };
  }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}
.footerUtilityNavWrapper
{
  margin: 0 auto;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.footerutilitywrapper
{
  @include background(url(../images/texturebg.png));
  padding: 15px;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}






// -----------------------------------------------------------------------------------------
// FAT FOOTER
// -----------------------------------------------------------------------------------------

.deskTopFooter
{
  @include respond-to(wide-screens)   { display: block; }
  @include respond-to(medium-screens) { display: none; }
  @include respond-to(handhelds)      { display: none; }
}

.tabletFooter
{
  @include respond-to(wide-screens)   { display: none; }
  @include respond-to(medium-screens) { display: block; }
  @include respond-to(handhelds)      { display: none; }
}

.mobileFooter
{
  @include respond-to(wide-screens)   { display: none; }
  @include respond-to(medium-screens) { display: none; }
  @include respond-to(handhelds)      { display: block; }
}

.footernavwrapper
{ 
  @include background(linear-gradient(top, $tanOverlay, $tanOverlay), url(../images/texturebg.png));
  padding: 30px 15px;
  // height: 500px;
  @include clearfix();
  @include respond-to(wide-screens)   { }
  @include respond-to(medium-screens) { }
  @include respond-to(handhelds)      { }

  h2 
  {
    color: $brownText;
    @include ellipsis();
    a { color: $brownText; text-decoration:none; }
    @include PeriodicoDisplay();
    font-style: italic;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: lowercase;
    @include respond-to(wide-screens)   { border-bottom: dashed 1px $lightGrayImageBorder; padding: 0; font-size: 17px; line-height: 25px; }
    @include respond-to(medium-screens) { border-bottom: dashed 1px $lightGrayImageBorder; padding: 0; font-size: 14px; line-height: 20px; }
    @include respond-to(handhelds)      { border-bottom: dashed 1px $lightGrayImageBorder; padding: 0; font-size: 14px; line-height: 35px; padding-top: 5px; padding-left: 15px; @include background(url(../images/texturebg.png)); background-origin: content-box;}
  }

  li
  {
    @include respond-to(handhelds)      
    { 
      @include Calibri();
      font-weight: bold;
      font-size: 13px;
      line-height: 35px;
      color: $brownText;
      border-bottom: dashed 1px $lightGrayImageBorder;
      @include background(linear-gradient(top, $tanOverlay, $tanOverlay), url(../images/texturebg.png));
      padding-left: 15px;
    }
  }

  .block {
    margin-top: 20px;
  }

  .menu {
    margin-bottom: 20px;
    margin-top: 8px;
  }

}

// widths for fat footer sections.
.width6wide {width: 16%; float: left; }
.width5wide {width: 20%; float: left; }
.width4wide {width: 25%; float: left; }
.width3wide {width: 32%; float: left; }
.width2wide {width: 50%; float: left; }
.width1wide {width: 100%; float: left; }



@include respond-to(wide-screens)   
{  
  .col1wide {float: left; width: 20%; }
  .col2wide {float: left; width: 20%*2;}
  .col3wide {float: left; width: 20%*3;}
  .col4wide {float: left; width: 20%*4;}
  .col5wide {float: left; width: 20%*5;}
}
@include respond-to(medium-screens) 
{  
  .col1wide {float: left; width: 32%; }
  .col2wide {float: left; width: 32%*2;}
  .col3wide {float: left; width: 32%*3;}
  .col4wide {float: left; width: 32%*4;}
  .col5wide {float: left; width: 32%*5;}
}

.footerNavListWrapper
{
  border-top: dashed 1px $lightGrayImageBorder;
  // background-origin: content-box;
  margin-right: 20px;
  margin-bottom: 25px;
  @include clearfix();
  // margin-right: 2%;

  // float: left;
  // background-color: red;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.region-footer-second, .region-footer-third
{
  @include Calibri();
  @include no-bullet();
  font-weight: bold;
  font-size: 13px; 
  line-height: 24px;
  padding-top: 8px;
  color: $darkBrown;
  a { color: $darkBrown; text-decoration:none; }
  ul { float: left; display: block; }
  li {@include ellipsis(); padding-right: 3px; float:left; width:140px;}
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }

  .block-menu-block-2 {
    width: 100%;
  }
}

$footerRowSpacing: 30px;

.footerLeftSide
{
  float: left;
  // @include clearfix();
  // border: 1px solid red;
  margin-top: $footerRowSpacing;
  
  @include respond-to(wide-screens)   { width: 80%; }
  @include respond-to(medium-screens) { width: 75%; }
  @include respond-to(handhelds)      {  }
}

.footerRightSide
{
  width: 16%;
  float: left;
  margin-top: $footerRowSpacing;
  @include respond-to(wide-screens)   { width: 16%; }
  @include respond-to(medium-screens) { width: 23%; }
  @include respond-to(handhelds)      {  }
}

.mobilePhoneImage
{
  margin: 11px 0 -2px 0;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.copyrightText
{
  @include Calibri();
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: $lightGrayText;
  a { color: $lightGrayText; text-decoration:none; }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}


// -----------------------------------------------------------------------------------------
// AD COLUMN
// -----------------------------------------------------------------------------------------



.adColumnRight
{
  background-color: $tan;
  padding: 4px;
  // @include background-origin(); 

  // @include box-sizing(border-box);
  img { 
    margin-bottom: 0px; 
    width:100%;
    height:auto;
    padding: 0px;
    @include respond-to(handhelds)  { display: block; margin: 0 auto;  }
    &:last-child { padding-bottom: 4px;  };
  }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      { width: 100%;  }
}




// -----------------------------------------------------------------------------------------
// BIG SHOW IMAGE
// -----------------------------------------------------------------------------------------

$featuredShowContainerHeight: 360px;
$featuredShowDivBarHeight: 84px;


.featuredShowSlider
{
  // border: 1px solid red;
  width: 641px;
  height: $featuredShowContainerHeight;
  // padding-top: $featuredShowContainerHeight - $featuredShowDivBarHeight;
  padding-top: 256px;
  @include box-sizing(border-box);
  @include background(url(../images/placeholder-big-show-image.png) no-repeat bottom left );
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) { width: 100%; background-size: cover; background-position: center; }
  @include respond-to(handhelds)      { width: 100%; background-size: cover; background-position: center; }
  div {
    background-color: $blackPicOverlay;
    // background-color: white;
    @include background-origin(); 
    padding: 10px;
    width: 621px;
    height: $featuredShowDivBarHeight;
    // position: absolute;
    bottom: 0px;
    // margin-top: $featuredShowContainerHeight - $featuredShowDivBarHeight;
    // margin-top: 256px;
    @include respond-to(medium-screens) { width: 100%; }
    @include respond-to(handhelds)      { width: 100%; }
  }
  h3 {
    @include Calibri();
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;
    color: white;
  }

  h4 {
    @include PeriodicoText();
    font-size: 14px;
    line-height: 16px;
    color: white;
    @include respond-to(handhelds) { display: none; }
  }
}

// -----------------------------------------------------------------------------------------
// STORY BLOCK
// -----------------------------------------------------------------------------------------

.storyBlock
{
  border: 1px solid $grayBorder;
  background-color: white;
  border-top: 6px solid $tan;
  // padding: 10px;
  float: left;
  @include clearfix();

margin-right: 10px;
    @include respond-to(wide-screens)   { margin-bottom: 15px; width: 365px; margin-right: 10px;}
    @include respond-to(medium-screens) { margin-bottom: 15px; width: 310px; margin-right: 10px;}
    @include respond-to(handhelds)      { margin: 0px; }
  // @include box-sizing(border-box);

  .storyWrapper{
    padding: 10px;
  }
  
  .grid-4 {
    margin:0;

  }

  .sectionTitle {
    margin-bottom: 3px;
    width: 45%;
    float: left;
    @include clearfix();
  }

  .storyName {
    margin-bottom: 5px;
  }

  .authorName {
    @include Calibri();
    font-size: 13px;
    line-height: 18px;
    float: right;
    @include clearfix();
    color: $grayText;
    margin-bottom: 3px;
    text-align: right;
    width: 45%;
    a { color: $grayText; text-decoration:none; }    
  }

  .socialBlock{
    background-color: $socialBlockColor;
    // background-color: red;
    background-origin: content-box;
    height: 40px;
    width: 100%;
  }

  .storyDescription{
    height: 80px;
  }
}




// -----------------------------------------------------------------------------------------
// FEATURED ARTIST SLIDER
// -----------------------------------------------------------------------------------------


.featuredArtistSlider
{
  // @include background(url(../images/texturebg.png));
  @include background(linear-gradient(top, $grayOverlay, $grayOverlay),url(../images/texturebg.png));
  width: 320px;
  padding: 9px;
  //min-height: 225px;
  @include box-sizing(border-box);
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      { @include background(white); }
  
  img {margin-bottom: 0px;}

  .sectionTitle {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .storyName {
    margin-top: -5px;
    @include ellipsis();
  }

  .flexslider {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 0px;
    position: relative;
}

}




// -----------------------------------------------------------------------------------------
// MUSIC PLAYER
// -----------------------------------------------------------------------------------------


.musicPlayer
{
  width: 320px;
  height: 158px;
  border: 1px solid $grayBorder;
  padding: 10px;
  position: relative;
  @include box-sizing(border-box);
  @include background(linear-gradient(top, white 20%, $lightGradientBottom 70%));
  @include border-radius(10px);
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }

  .storyName {
    margin-top: -5px;
  }

  .textArea {
    margin-left: 150px;
    margin-top: 20px;
    width: 160px;
    // border: 1px solid red;
    min-height: 40px;
  }

  .storyDescription {
    a { color: $grayText; text-decoration:none; }
    height: 20px;
    // white-space: nowrap;
    // width: 100%;
    //@include ellipsis();
  }

  .rightMusicArrow {
    position: absolute;
    bottom: 0px;
    right: 10px;
  }
  
  .leftMusicArrow {
    position: absolute;
    bottom: 0px;
    left: 10px;
  }

  .votingBox{
    width: 103px;
    height: 39px;
    border: 1px dashed $grayBorder;
    @include box-sizing(border-box);
    padding: 5px;
    position: relative;
    @include background(url(../images/up-voting-arrow.png) no-repeat 70% center);
  }

  .voteText{
    position: absolute;
    left: 12px;
    top: 8px;
    @include Calibri();
    font-weight: bold;
    font-size: 14px;
    border-right: 1px dashed $grayBorder;
    padding-right: 12px; 
  }

  .voteNumber {
    position: absolute;
    right: 12px;
    top: 8px;
    @include Calibri();
    font-weight: bold;
    font-size: 14px;
  }

}



// -----------------------------------------------------------------------------------------
// PROGRAM LISTING
// -----------------------------------------------------------------------------------------


.programListing
{
  width: 100%;
  border-bottom: 1px dashed $grayBorder;
  @include box-sizing(border-box);
  &:last-child {   border-bottom: 1px dashed $grayBorder; };
  @include respond-to(wide-screens)   { padding: 0 0 14px 0px;  }
  @include respond-to(medium-screens) { padding: 0 0 11px 0px; }
  @include respond-to(handhelds)      { padding: 0 15px 14px 15px; @include background(url(../images/texturebg.png)); width: 100%; }
  // @include ellipsis();
  // white-space: wrap;

  .sectionTitle {
    margin-bottom: -2px;
  }

  .storyDescription {
    // height: 50px;
    // border: 1px solid red;
    // overflow: hidden;
    @include respond-to(wide-screens)   {  }
    @include respond-to(medium-screens) { display: none; }
    @include respond-to(handhelds)      {  }
  }

  .storyName {
    //height: 42px;
     overflow: hidden;
    // a { height: 20px; }
  }  
  
}

  .noBorder {
    border: none;
  }




// -----------------------------------------------------------------------------------------
// STORY BLURB AND STORY PAGE COPY
// -----------------------------------------------------------------------------------------


.mainStoryHeading, .node-title, #page-title // this could be an h1
{
  color: $grayText;
  a { color: $grayText; text-decoration:none; }
  margin-top: 10px;
  @include Calibri();
  font-weight: bold;
  @include respond-to(wide-screens)   { font-size: 32px; line-height: 30px; }
  @include respond-to(medium-screens) { font-size: 32px; line-height: 30px; }
  @include respond-to(handhelds)      { font-size: 35px; line-height: 32px; padding: 0px 15px; display: inline-block; }
}



.mainStoryBlurbText
{
  color: $grayText;
  font-weight: 100;
  a { color: $blueText; text-decoration:none; }
  p { margin-top: 10px; }
  @include PeriodicoText();
  @include respond-to(wide-screens)   { font-size: 13px; line-height: 16px; }
  @include respond-to(medium-screens) { font-size: 14px; line-height: 16px; }
  @include respond-to(handhelds)      { font-size: 14px; line-height: 16px; padding: 0px 15px; display: inline-block; }
}

.mainStoryBodyText, .field-items, .region-content
{
  color: $grayText;
  font-weight: 100;
  a { color: $blueText; text-decoration:none; }
  p { margin-top: 10px; }
  img {
    padding: 4px;
    border: dashed 1px $lightGrayImageBorder;
  }
  @include PeriodicoText();
  @include respond-to(wide-screens)   { font-size: 16px; line-height: 24px; }
  @include respond-to(medium-screens) { font-size: 16px; line-height: 24px; }
  @include respond-to(handhelds)      { font-size: 14px; line-height: 24px; padding: 0px 15px; display: inline-block; }
}





// -----------------------------------------------------------------------------------------
// TABBED SECTIONS
// -----------------------------------------------------------------------------------------


// previously .tabbedNav
#secondary-menu
{ 
  @include inline-block-list();
  display: inline-block;
  margin-bottom: 0px;
  clear: left;
  // border-top: 36px solid $darkBrown;
  // background-color: white;
  
  li {
    margin-right: 0px;
    // &.last { padding-right: 25px };
    // &.first { padding-left: 25px };
    background-color: white;
    @include Calibri();
    font-weight: bold;
    text-transform: lowercase;
    color: $brownText;
    a { 
      color: $brownText; text-decoration:none; 
      .active { 
        @include background(none); 
      }
    }
    @include background( url(../images/dotted-bottom-nav-line.png) repeat-x center bottom, linear-gradient(top, white, white));
    padding: 0px 18px;
    &:first-child { padding-left: 0px; };
    height: 61px;
    line-height: 48px;
    @include respond-to(wide-screens)   { font-size: 12px; }
    @include respond-to(medium-screens) { display: none; }
    @include respond-to(handhelds)      { display: none; }
    background-origin: border-box;

  }

  .active{
    // border-bottom: none;
    color: $blueText;
    a { color: $blueText; text-decoration:none; @include background(none); }
    @include background( url(../images/dotted-arrow-marker.png) no-repeat center bottom, url(../images/dotted-bottom-nav-line.png) repeat-x center bottom, linear-gradient(top, white, white));
    overflow: visible;
  
  }

}

.zone-menu-secondary-wrapper {
  @include background( url(../images/dotted-bottom-nav-line.png) repeat-x center 34px, linear-gradient(top, white, white));
  @include respond-to(wide-screens)   { }
  @include respond-to(medium-screens) { display: none; }
  @include respond-to(handhelds)      { display: none; }
}




// -----------------------------------------------------------------------------------------
// SPONSOR GRID
// -----------------------------------------------------------------------------------------

.learnAboutSponsorText
{
  @include Calibri();
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  text-transform: lowercase;
  text-align: center;
  color: $blueText;
  a { color: $blueText; text-decoration:none; }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.sponsorGridWrapper
{
  img { 
    margin: 0 auto; 
    display: block; 
    
    @include respond-to(handhelds) { 
      width: 100%;
      height: auto;
      @include box-sizing(border-box);
      padding: 0 15px;
    }
  }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}





// -----------------------------------------------------------------------------------------
// MEGA AD
// -----------------------------------------------------------------------------------------

.expandButton
{
  @include PeriodicoDisplay();
  font-style: italic;
  font-weight: 100;
  color: $brownText;
  @include border-radius(5px);
  width: 80px;
  height: 27px;
  line-height: 27px;
  padding-left: 10px;
  border: 1px solid $grayBorder;
  position: absolute;
  text-transform: lowercase;
  top: 10px;
  right: 10px;
  font-size: 13px;
  @include box-sizing(border-box);
  @include background(url(../images/arrow-down.png) no-repeat 90% 50%, linear-gradient(top, $buttonGradientBottom, white));
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.closeButton
{
  @include PeriodicoDisplay();
  font-style: italic;
  font-weight: 100;
  color: $brownText;
  text-transform: lowercase;
  @include border-radius(5px);
  width: 80px;
  height: 27px;
  line-height: 27px;
  padding-left: 18px; 
  border: 1px solid $grayBorder;
  position: absolute;
  @include box-sizing(border-box);
  font-size: 15px;
  top: 10px;
  right: 10px;
  // display: none;
  @include background(url(../images/arrow-up.png) no-repeat 85% 50%, linear-gradient(top, $buttonGradientBottom, white));
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}



.expandMegaAd
{
  border: 1px solid $grayBorder;
  width: 980px;
  height: 120px;
  position: relative;
  cursor: pointer;
  @include single-transition(all);
  @include background( url(../images/placeholder-mega-sponsor.png) no-repeat top center );
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) { display: none; }
  @include respond-to(handhelds)      { display: none; }
}




// -----------------------------------------------------------------------------------------
// LOAD MORE BUTTON
// -----------------------------------------------------------------------------------------


.loadMoreButton
{
   @include PeriodicoDisplay();
  font-style: italic;
  font-weight: 100;
  color: $brownText;
  text-transform: lowercase;
  @include border-radius(10px);
  width: 227px;
  height: 50px;
  text-align: center;
  // margin-top: 15px;
  margin: 15px auto;
  // line-height: 50px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid $grayBorder;
  @include box-sizing(border-box);
  font-size: 25px;
  // display: none;
  @include background(linear-gradient(top, $buttonGradientBottom, white));
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}





// -----------------------------------------------------------------------------------------
// SOCIAL LINKS ON TOP OF STORY PAGES
// -----------------------------------------------------------------------------------------

.socialStoryLinkTextWrapper
{
  height: 41px;
  border-top: 1px dashed $grayBorder;
  border-bottom: 1px dashed $grayBorder;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.socialStoryLinkText
{
  color: $socialLinkText;
  @include Helvetica();
  font-size: 11px;
  line-height: 41px;
  a { color: $socialLinkText; text-decoration:none; }
  &:hover { color: $blueText; text-decoration: none; };
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}



// -----------------------------------------------------------------------------------------
// BREADCRUMBS
// -----------------------------------------------------------------------------------------


.breadcrumb
{
  @include Calibri();
  font-weight: bold;
  font-size: 13px;
  line-height: 36px;
  color: $brownText;
  text-transform: lowercase;
  a { 
    color: $brownText; text-decoration:none; 
    &:hover { color: $blueText; text-decoration: none; };
    &:last-child { color: $blueText; text-decoration: none; };
    // display: block;
    padding: 0 5px;
  }
  @include respond-to(wide-screens)   { display: none; }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}



// -----------------------------------------------------------------------------------------
// STORY DATE AND AUTHOR
// -----------------------------------------------------------------------------------------

// -----------------------------------------------------------------------------------------
// STORY AUDIO PLAYER - LONG
// -----------------------------------------------------------------------------------------

.topAudioStoryWrapper
{
  border: 1px solid $grayBorder;
  //width: 640px;
  height: 63px;
  @include box-sizing(border-box);

  img {
    float: left;
    display: block;
    margin: 3px;
  }

  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      { border: none; }
}

.storyDate, .submitted
{
  @include Calibri();
  float: left;
  width: 130px;
  margin: 10px;
  font-weight: bold;
  font-size: 13px;
  line-height:14px;
  color: $brownText;
  a { color: $blueText; text-decoration:none; }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      { clear: right; @include clearfix(); }
}

.downloadStoryAudio
{
  border-left: 1px solid $grayBorder;
  border-bottom: 1px solid $grayBorder;
  height: 62px;
  width: 60px;
  @include box-sizing(border-box);
  // background-color: red;
  @include background( url(../images/icon-download.png) no-repeat center, url(../images/texturebg.png));

  float: right;
  @include clearfix();
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      { display: none; }
}


.storyAudioPlayer
{
  border-left: 1px solid $grayBorder;
  border-bottom: 1px solid $grayBorder;
  height: 62px;
  width: 360px;
  @include box-sizing(border-box);
  // background-color: red;
  @include background( url(../images/texturebg.png));
  float: right;
  @include clearfix();

   .rightMusicArrow {
     float: right;
     display: block;
     margin: 11px 12px 0px 0px;
     cursor: pointer;
   }
  
   .leftMusicArrow {
     float: right;
     display: block;
     margin: 12px 0px 0px 0px;
     cursor: pointer;
   }
}
// -----------------------------------------------------------------------------------------
// STORY CONTENT
// -----------------------------------------------------------------------------------------


// I think this is the content from every section of the live site
.field 
{ 

  img {
    padding: 4px;
    border: dashed 1px $lightGrayImageBorder;

  }

  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.flexSliderImageWrapper
{ 
  min-width: 30px;
  display: inline-block;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.flexSliderImage
{
  width: 292px;
  height: 292px;
  position: relative;
  margin: 0 auto;
  @include background(url(../images/placeholder-flex-slider-image.png) no-repeat center);
  padding: 4px;
  border: dashed 1px $lightGrayImageBorder;
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }

  img {
    margin-bottom: 0;
  }

  .rightArrow { 
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
  }

  .leftArrow { 
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
}

.photoCaption
{
  @include Calibri();
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  color: $brownText;
  text-align: center;
  a { color: $brownText; text-decoration:none; }
  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

.testClass {
  @include background-image(url(../images/arrow-down.png), linear-gradient(top, black, white))
}

.flexslider .slide-text {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: $blackPicOverlay;
  width: 100%;
  //height: 70px;
   h3 a {
    @include Calibri();
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;
    color: white;
  }
  .slide-inner {
    padding:12px;
  }
  .body-text {
    @include PeriodicoText();
    font-size: 14px;
    line-height: 16px;
    color: white;
    @include respond-to(handhelds) { display: none; }
  }
}

.region-content .field-type-image {
  float:right;
  display:block;
  margin-left:10px;
  margin-bottom:10px;
}

// -----------------------------------------------------------------------------------------
// COMMENT SECTION
// -----------------------------------------------------------------------------------------

.comment-wrapper
{
  .title {
    @include Calibri();
    font-weight: bold;
    color: $lightGrayText;
    a { color: $lightGrayText; text-decoration:none; }
    font-size: 13px;
    line-height: 24px;
    border-bottom: 1px dashed $grayBorder;
  }

  textarea, input, select {
    border: 1px dashed $grayBorder;
    @include background(linear-gradient(top, $formGradientTop 0%, white 50%));
    @include PeriodicoText();
    font-weight: 100;
    color: $lightGrayText;
    a { color: $lightGrayText; text-decoration:none; }
    font-size: 13px;
    line-height: 16px;

  }

  select {
      @include background-image(url(../images/arrow-down.png), linear-gradient(top, $formGradientTop 0%, white 50%));
      background-repeat: no-repeat;
      background-position: 90% 50%;
    }

  label {
    @include Calibri();
    font-weight: bold;
    color: $lightGrayText;
    a { color: $lightGrayText; text-decoration:none; }
    font-size: 13px;
    line-height: 24px;
  }

  p {
    color: $grayText;
    font-weight: 100;
    a { color: $blueText; text-decoration:none; }
    @include PeriodicoText();
    font-size: 13px;

  }

  .username {
    @include Calibri();
    font-size: 18px;
    line-height: 18px;
    color: $blueText;
    text-decoration:none;
    a { color: $blueText; text-decoration:none; }    
  }

  textarea {
    padding: 10px;
  }

  input[type="submit"] {

  }

  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}

input[type="submit"] {
       @include PeriodicoDisplay();
  font-style: italic;
  font-weight: 100;
  color: $brownText;
  text-transform: lowercase;
  @include border-radius(5px);
  text-align: center;
  padding: 16px;
  // height: 30px;
  line-height: 0px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid $grayBorder;
  // display: none;
  @include background(linear-gradient(top, $buttonGradientBottom, white));
  }

.logo-img {
  display: block;
  float:none;
  margin: 0 auto;
  width: 149px;
}

/* 
  .storyName {
    color: $grayText;
    a { color: $grayText; text-decoration:none; }
    @include Calibri();
    font-weight: bold;
    font-size: 18px;
    margin-left: 74px;
    margin-top: 14px;
    width: 194px;
    height: 20px;
    @include respond-to(handhelds)      { margin-left: 65px;  }
  }

  .storyDescription {
    color: $grayText;
    a { color: $grayText; text-decoration:none; }
    @include PeriodicoText();
    font-weight: 100;
    font-size: 12px;
    width: 194px;
    height: 20px;
    margin-left: 74px;
    @include respond-to(handhelds)      { margin-left: 65px;  }
  }

  @include respond-to(wide-screens)   {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      { 
    @include clearfix(); 
    clear: both; 
    float: left; 
    margin: 10px;
    width: 300px;
    border-top: 1px solid $grayBorder;
    border-right: 1px solid $grayBorder;
  }
} */

//===================================================
// Playlist
//===================================================
.playlist-page-list {
  padding-bottom:10px;
  padding-top:10px;
  border-bottom: dashed 1px $lightGrayImageBorder; 
}


//===================================================
// Events
//===================================================
.event-list-events {
  padding-bottom:10px;
  padding-top:10px;
  border-bottom: dashed 1px $lightGrayImageBorder; 
}
.event-list-date-box {
  display:block;
  float:left;
  width:80px;
  height:80px;
  border-right: 2px solid $grayBorder;
  border-bottom: 2px solid $grayBorder;
  margin-right:10px;
  text-align: center;
}

.event-list-date-box-day {}
.event-list-date-box-month-date {}
.event-list-date-box-time {}
.event-list-buy-tickets {}

.block-events-block-5 {
  float: left; 
  @include respond-to(wide-screens)   { width:48%; }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}
.block-story-utility-block-3 {
  float: left; 
  clear:left;
  @include respond-to(wide-screens)   { width:48%; }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}
.block-story-utility-block-8 {
  display:block;
  float:right;
  @include respond-to(wide-screens)   { width:50%; }
  @include respond-to(medium-screens) {  }
  @include respond-to(handhelds)      {  }
}
a.site-logo {
  width:140px;
  height:120px;
  display:block;
}
.front #page-title {
  display:none;
}
// -----------------------------------------------------------------------------------------
// GLOBAL STYLES
// -----------------------------------------------------------------------------------------

.sectionTitle {
  @include Calibri();
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  color: $blueText;
  a { color: $blueText; text-decoration:none; }
}

.storyName {
  @include Calibri();
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $grayText;
  a { color: $grayText; text-decoration:none; }
}

.storyDescription {
  @include PeriodicoText();
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
  color: $grayText;
  margin-bottom: 6px;
  a { color: $blueText; text-decoration:none; }
}
